In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import style
style.use('ggplot')

In [3]:
df = pd.read_excel('F:\Portfolio Project\Movie Data Starter Project.xlsx')

In [5]:
df.head()

,Movie Title,Release Date,Wikipedia URL,Genre (1),Genre (2),Director (1),Director (2),Cast (1),Cast (2),Cast (3),...,Budget ($),Box Office Revenue ($),,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21
0,The Devil Inside,2012-01-06,https://en.wikipedia.org/wiki/The_Devil_Inside...,Horror,Drama,William Brent Bell,NaN,Suzan Crowley,Fernanda Andrade,Simon Quarterman,...,1000000,101800000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Red Tails,2012-01-20,https://en.wikipedia.org/wiki/Red_Tails,Drama,NaN,Anthony Hemingway,NaN,Cuba Gooding Jr.,Nate Parker,David Oyelowo,...,58000000,50400000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Declaration of War,2012-01-27,https://en.wikipedia.org/wiki/Declaration_of_W...,Romance,Drama,Valérie Donzelli,NaN,Valérie Donzelli (director),NaN,NaN,...,1500000,6500000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Man on a Ledge,2012-01-27,https://en.wikipedia.org/wiki/Man_on_a_Ledge,Action,Drama,Asger Leth,NaN,Sam Worthington,Ed Harris,Elizabeth Banks,...,42000000,46200000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,One for the Money,2012-01-27,https://en.wikipedia.org/wiki/One_for_the_Mone...,Crime,Romance,Julie Anne Robinson,NaN,Katherine Heigl,Debbie Reynolds,Jason O'Mara,...,40000000,36900000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
df.to_csv('movie dataset.csv')

In [13]:
df.to_csv('movie_dataset2.csv', header = True)

In [14]:
df =pd.read_csv('movie_dataset2.csv')

In [15]:
df

,Unnamed: 0,Unnamed: 0.1,0,The Devil Inside,2012-01-06,https://en.wikipedia.org/wiki/The_Devil_Inside_(film),Horror,Drama,William Brent Bell,Unnamed: 7,...,1000000,101800000.0,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22
0,0,0,1,Red Tails,2012-01-20,https://en.wikipedia.org/wiki/Red_Tails,Drama,NaN,Anthony Hemingway,NaN,...,58000000,50400000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1,2,Declaration of War,2012-01-27,https://en.wikipedia.org/wiki/Declaration_of_W...,Romance,Drama,Valérie Donzelli,NaN,...,1500000,6500000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2,3,Man on a Ledge,2012-01-27,https://en.wikipedia.org/wiki/Man_on_a_Ledge,Action,Drama,Asger Leth,NaN,...,42000000,46200000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,3,4,One for the Money,2012-01-27,https://en.wikipedia.org/wiki/One_for_the_Mone...,Crime,Romance,Julie Anne Robinson,NaN,...,40000000,36900000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,4,5,The Grey,2012-01-27,https://en.wikipedia.org/wiki/The_Grey_(film),Action,Drama,Joe Carnahan,NaN,...,25000000,77300000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502,502,502,503,Kubo and the Two Strings,2016-08-19,https://en.wikipedia.org/wiki/Kubo_and_the_Two...,Fantasy,NaN,Travis Knight,NaN,...,60000000,27600000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
503,503,503,504,War Dogs,2016-08-19,https://en.wikipedia.org/wiki/War_Dogs_(2016_f...,Crime,Comedy,Todd Phillips,NaN,...,40000000,42700000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
504,504,504,505,Don't Breathe,2016-08-26,https://en.wikipedia.org/wiki/Don%2527t_Breath...,Thriller,NaN,Fede Alvarez,NaN,...,9900000,28300000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
505,505,505,506,Hands of Stone,2016-08-26,https://en.wikipedia.org/wiki/Hands_of_Stone,Biography,Drama,Jonathan Jakubowicz,NaN,...,20000000,1700000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
506,506,506,507,Mechanic: Resurrection,2016-08-26,https://en.wikipedia.org/wiki/Mechanic:_Resurr...,Action,NaN,Dennis Gansel,NaN,...,40000000,7500000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# renaming cols

df.rename(columns={'existing name' : 'new name'})